@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
  background-color: #1e1e1e;
  scroll-behavior: smooth;
}

:root {
  color-scheme: dark;
}

/* @media (max-width: 768px) {
  .elements,
  .menu {
    display: none;
  }
} */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeIn {
  animation: fadeIn 0.3s ease-out forwards;
}

.fadeOut {
  animation: fadeOut 0.3s ease-out forwards;
}
/* .main-page {
  animation-duration: 2s;
  animation-name: fadeIn;
}

.options {
  animation-duration: 2s;
  animation-name: fadeIn;
}

.navbar {
  animation-duration: 2s;
  animation-name: fadeIn;
} */

.navbar li {
  @apply cursor-pointer hover:text-dblue transition-colors font-semibold text-3xl sm:text-base bg-dblue bg-opacity-0;
}

.navbar li a {
  @apply bg-dblue bg-opacity-0;
}

.sidebar li {
  @apply my-4;
  @apply w-auto;
}

.close:hover {
  fill: #6495ed;
}

.close {
  @apply transition-colors;
}

.menu {
  backdrop-filter: blur(0px);
  transition: backdrop-filter 0.3s ease-out, opacity 0.3s ease-out;
  opacity: 0;
}

.menu-visible {
  backdrop-filter: blur(10px);
  opacity: 1;
}

.menu-hidden {
  backdrop-filter: blur(0px);
  opacity: 0;
}
