@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
  background-color: #1e1e1e;
  scroll-behavior: smooth;
}

:root {
  color-scheme: dark;
}

@media (max-width: 768px) {
  .elements,
  .menu {
    display: none;
  }

}

@keyframes fadeIn {
  0% {
    opacity: 0.01;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
.main-page {
  animation-duration: 2s;
  animation-name: fadeIn;
}

.options {
  animation-duration: 2s;
  animation-name: fadeIn;
}

.navbar {
  animation-duration: 2s;
  animation-name: fadeIn;
}
